<div class="banner">
  <a href="http://www.xlbuellforum.com/">
    <%= image_tag '/img/xlbuellforum.png', title: 'XLBuellForum.com', alt: 'XLBuellForum.com' %>
  </a>
</div>

<div class="content">
  <h1>Did you know . . . ?</h1>

  <div>
    <p>NRHS is based in the beautiful city of Berthoud, Colorado.  If you are ever in the area, come check us out! We love to talk shop and would be happy to show you around.</p>

    <p>Although NRHS is known for premier head porting and conversion kits, we do much more!  We provide a wide range of services from simple oil changes to "all-out" performance engine builds.  Dyno tuning is also available by appointment.</p>
  </div>
</div>
