.content {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  width: 70%;
  background: $attention-grey;
  padding: 3em;

  h1 {
    color: $nrhs-red;
  }
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

div.flash-messages {
  text-align: center;
  font-weight: bold;
}

.alert {
  color: $nrhs-red;
}

.notice {
  color: $success-green;
}
