.content {
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  width: 70%;
  background: $attention-grey;
  padding: 3em;

  color: $base-background;

  h1 {
    color: $nrhs-red;
  }

  .helpdocs {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    border: medium solid $base-background;
    padding: 1em;

    h3 {
      margin: 0;
      background: $base-background;
      padding: 1em;
      text-align: center;
      color: $attention-grey;
    }

    blockquote {
      border: thin solid $base-background;
      padding: 0.3em;
      padding-left: 1em;
      padding-right: 1em;

      h3 {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        background: $attention-grey;
        padding: 0;
        text-align: left;
        color: $base-background;
      }
    }
  }
}

.banner {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

@media (max-width: 707px) {
  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

div.flash-messages {
  text-align: center;
  font-weight: bold;
}

.alert {
  color: $nrhs-red;
}

.notice {
  color: $success-green;
}
