.nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-style: italic;
  font-size: 0.7em;

  li {
    text-align: center;
  }

  @media (max-width: 900px) {
    li {
      font-size: 1.2em;
    }
  }
}

.main-nav {
  background: $nav-grey;

  a {
    display: block;
    color: $attention-grey;
  }

  a:hover {
    color: $rich-red;
  }

  ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    border: none;
    padding: 0;
  }

  li {
    margin: 0;
    max-width: 100%;
    min-width: 150px;
    padding: 0.5em;
    text-align: center;

    float: none;

    ul {
      visibility: hidden;
      position: absolute;
      margin-top: 3px;
      margin-bottom: 0;
      border: thin solid black;
      background: $nav-grey;
      padding: 0;

      li {
        padding: 0;
        text-align: left;

        a {
          margin: 1px;
          padding: 1em;
        }
      }
    }
  }

  li:hover ul {
    visibility: visible;
  }

  @media (max-width: 900px) {
    ul {
      flex-direction: column;
      background: $base-background;
    }

    li {
      margin-top: 1px;
      margin-bottom: 2px;
      background: $nav-grey;
    }

    li:hover ul {
      visibility: hidden;
    }
  }

  ul.nav-menus {
    margin-top: 0;
  }
}
