$attention-grey:                #ccc;
$base-background:               #222222;
$nav-grey:                      #555555;
$rich-red:                      #d55;
$nrhs-red:                      #dd3c33;
$dark-red:                      #911;
$success-green:                 #116633;
$go-green:                      #339033;
