<% if admin_signed_in? %>
  <%= link_to 'Delete Category', category_path(@category), method: :delete %>
<% end %>

<h2>Category: <%= @category.name %></h2>

<ul>
  <% @category.pages.sort_by {|page| page.title }.each do |page| %>
    <li>Title: <%= page.title %></li>
  <% end %>
</ul>
