<div class="header">
  <ul>
    <li class="logo">
      <a href="/">
        <%= image_tag '/img/nrhs_logo.png', title: 'NRHS V-Twin Performance', alt: 'NRHS V-Twin Performance' %>
      </a>
    </li>

    <li class="nav header-nav">
      <%= link_to 'Where To Buy', '' %>
      <%= link_to 'Contact Us', '' %>
    </li>
  </ul>
</div>
